body{text-align: center;
   
}
table, th, td {
    border: 4px solid rgb(17, 19, 17);
margin: 60px;
}
table{
    border-collapse:collapse;
    position:relative;
    left:200px;
    bottom:50px;
    
} 
.ro{
    border: 0px solid black;

 padding: 10px;
 width: 1200px;
  background-image:url("Screenshot (32).png");
} 
h1{color: rgb(210, 241, 241);
font-size: 50px;
text-shadow: 3px 3px 5px rgb(243, 243, 10);
position: relative;
left:170px;

}
 